-- CreateTable
CREATE TABLE `categories` (
    `id` VARCHAR(191) NOT NULL,
    `name` VARCHAR(255) NOT NULL,
    `name_ar` VARCHAR(255) NULL,
    `slug` VARCHAR(100) NOT NULL,
    `type` VARCHAR(50) NOT NULL,
    `icon` VARCHAR(10) NULL,
    `description` TEXT NULL,
    `created_at` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    UNIQUE INDEX `categories_slug_key`(`slug`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `human_products` (
    `id` VARCHAR(191) NOT NULL,
    `name` VARCHAR(255) NOT NULL,
    `generic_name` VARCHAR(255) NOT NULL,
    `strength` VARCHAR(100) NOT NULL,
    `dosage_form` VARCHAR(100) NOT NULL,
    `indication` TEXT NOT NULL,
    `pack_size` VARCHAR(100) NULL,
    `registration_number` VARCHAR(100) NULL,
    `category` VARCHAR(100) NOT NULL,
    `image_url` VARCHAR(500) NULL,
    `price` DECIMAL(10, 2) NULL,
    `is_active` BOOLEAN NOT NULL DEFAULT true,
    `created_at` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updated_at` DATETIME(3) NOT NULL,

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `veterinary_products` (
    `id` VARCHAR(191) NOT NULL,
    `name` VARCHAR(255) NOT NULL,
    `generic_name` VARCHAR(255) NOT NULL,
    `strength` VARCHAR(100) NOT NULL,
    `dosage_form` VARCHAR(100) NOT NULL,
    `indication` TEXT NOT NULL,
    `species` VARCHAR(255) NOT NULL,
    `withdrawal_period` VARCHAR(100) NULL,
    `pack_size` VARCHAR(100) NULL,
    `registration_number` VARCHAR(100) NULL,
    `category` VARCHAR(100) NOT NULL,
    `image_url` VARCHAR(500) NULL,
    `price` DECIMAL(10, 2) NULL,
    `is_active` BOOLEAN NOT NULL DEFAULT true,
    `created_at` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updated_at` DATETIME(3) NOT NULL,

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `media_posts` (
    `id` VARCHAR(191) NOT NULL,
    `title` VARCHAR(255) NOT NULL,
    `title_ar` VARCHAR(255) NULL,
    `content` TEXT NOT NULL,
    `content_ar` TEXT NULL,
    `type` VARCHAR(50) NOT NULL,
    `media_type` VARCHAR(50) NULL,
    `media_url` VARCHAR(500) NULL,
    `is_active` BOOLEAN NOT NULL DEFAULT true,
    `publish_date` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `created_at` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updated_at` DATETIME(3) NOT NULL,

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `jobs` (
    `id` VARCHAR(191) NOT NULL,
    `title` VARCHAR(255) NOT NULL,
    `title_ar` VARCHAR(255) NULL,
    `department` VARCHAR(100) NOT NULL,
    `location` VARCHAR(100) NOT NULL,
    `job_type` VARCHAR(50) NOT NULL,
    `working_hours` VARCHAR(100) NOT NULL,
    `description` TEXT NOT NULL,
    `description_ar` TEXT NULL,
    `requirements` TEXT NOT NULL,
    `requirements_ar` TEXT NULL,
    `is_active` BOOLEAN NOT NULL DEFAULT true,
    `publish_date` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `expiry_date` DATETIME(3) NULL,
    `created_at` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updated_at` DATETIME(3) NOT NULL,

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `job_applications` (
    `id` VARCHAR(191) NOT NULL,
    `job_id` VARCHAR(36) NULL,
    `full_name` VARCHAR(255) NOT NULL,
    `email` VARCHAR(255) NOT NULL,
    `phone` VARCHAR(50) NOT NULL,
    `cv_url` VARCHAR(500) NOT NULL,
    `cover_letter` TEXT NULL,
    `status` VARCHAR(50) NOT NULL DEFAULT 'pending',
    `created_at` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- AddForeignKey
ALTER TABLE `job_applications` ADD CONSTRAINT `job_applications_job_id_fkey` FOREIGN KEY (`job_id`) REFERENCES `jobs`(`id`) ON DELETE SET NULL ON UPDATE CASCADE;

